body {
  background-color: antiquewhite;
  font-family: "Play", sans-serif;
}
.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}
.search-bar {
  background-color: rgb(250, 234, 214, 0.5);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
.search-button {
  background: rgba(214, 128, 51, 0.5);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 16px 30px;
}
