body {
  background-color: rgb(250, 235, 215);
  font-family: "Play", sans-serif;
}
.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  max-width: 500px;
  padding: 30px;
}
header {
  border-bottom: 1px solid antiquewhite;
  padding: 0 0 30px 0;
}
.search-bar {
  background-color: rgb(250, 234, 214, 0.5);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 75%;
}
.search-button {
  background: rgba(214, 128, 51, 0.7);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;

  padding: 16px 25px;
}
main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.city {
  font-size: 35px;
  line-height: 48px;
  margin: 0;
}
.city-details {
  color: rgba(50, 75, 122, 0.7);
  font-size: 14px;
  line-height: 20px;
}
.city-details strong {
  color: rgb(136, 97, 224);
}
.city-temp-details {
  display: flex;
}
.city-temp-value {
  font-size: 70px;
  font-weight: 650;
}
.city-temp-unit {
  font-size: 35px;
  margin-top: 15px;
}
footer {
  border-top: 1px solid antiquewhite;
  color: rgba(50, 75, 122, 0.7);
  font-size: 12px;
  font-weight: 500;
  padding: 30px 0 0 0;
  text-align: center;
}
a {
  color: rgba(214, 128, 51, 0.7);
  text-decoration: none;
}
